* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: whitesmoke;
    background-image: url(./images/background.png);
}
input {
    outline: none;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    color: #262626;
    cursor: pointer;
    width: 60%;
    font-size: 0.95rem;
    padding: 0.8rem 1.5rem;
    margin-top: 1rem;
    margin-right: 3rem;
}
span {
    font-weight: 500;
}
.header {
    text-align: center;
    margin-top: 0;
}
.wrapper {
    margin: 5rem auto;
    padding: 5rem 7rem 3.5rem 7rem;
    width: 80%;
    background: rgb(119, 137, 168);
    border-radius: 0.8rem;
}
.section {
    padding: 1.5rem 3rem;
    background-color:white;
    color: #262626;
    margin-top: 4rem;
    border-radius: 0.4rem;
}
.section--title {
    font-weight: 500;
}
.section--text {
    font-weight: 300;
}
.flex-section {
    display: flex;
    align-items: baseline;
}
.button {
    line-height: 1.25;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    outline: none;
    background-color:green;
    border-color: green;
    color: #fff;
}
.button:hover {
    transform: scale(1.1);
}
.binary-clearButton,
.degree-clearButton,
.eleminate-clearButton {
    color: #fff;
    background-color: tomato;
    border-color: tomato;
}
.result {
    margin: 2.5rem 0 1rem 0;
    overflow-wrap: break-word;
    line-height: 2.5rem;
    font-weight: 300;
}